<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">servicio RESTful ROCKMAP sube una imagen</h3>
      </div>
      <hr/>
      <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
      <table>
      <tr>
        <td>Nombre</td>
        <td><input type="text" name="nombre"></td>
      </tr>
      <tr>
        <td>Altura</td>
        <td><input type="text" name="altura"></td>
      </tr>
      <tr>
        <td>Dificultad</td>
        <td><input type="text" name="dificultad"></td>
      </tr>
      <tr>
        <td>Zona</td>
        <td><input type="text" name="zona"></td>
      </tr>
      <tr>
        <td>Parque</td>
        <td><input type="text" name="parque"></td>
      </tr>
      <tr>
        <td>Pais</td>
        <td><input type="text" name="pais"></td>
      </tr>
      <tr>
        <td>Punto1</td>
        <td><input type="text" name="punto1"></td>
      </tr>
      <tr>
        <td>Punto2</td>
        <td><input type="text" name="punto2"></td>
      </tr>
      <tr>
        <td>Punto3</td>
        <td><input type="text" name="punto3"></td>
      </tr>
      <tr>
        <td>Punto4</td>
        <td><input type="text" name="punto4"></td>
      </tr>

      <tr>
        <td><input type="file" name="file"><br /><br /></td>
        <td><input type="submit" value="Upload"></td>
      </tr>
        </table>
      </form>
      </div>
    </div>
  </body>
</html>
 
